blessed==1.20.0
einops==0.6.1
filelock==3.12.2
fsspec==2023.1.0
gpustat==1.1.1
huggingface-hub==0.16.4
imageio==2.31.2
loguru==0.7.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py==12.535.161
nvitop==1.4.1
opencv-python==4.10.0.84
psutil==5.9.8
pyyaml==6.0.1
safetensors==0.4.3
termcolor==2.3.0
timm==0.4.12
torch==1.13.1
torchmetrics==0.11.4
tqdm==4.66.4
wcwidth==0.2.13
yacs==0.1.8